PORT=3000
SESSION_SECRET=hier_langes_zufaelliges_secret_eintragen
ADMIN_PASSWORD_HASH=hier_bcrypt_hash_des_adminpassworts
DB_PATH=./db/kolosseum.db
# Erlaubte E-Mail-Domains für Selbstregistrierung (kommagetrennt)
ALLOWED_DOMAINS=obsspelle.de
